parameters:
  level: 9
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: '#Property.*httpHistoryContainer.*does not accept.*array|ArrayAccess#'
      path: tests/Functional/Client/AbstractClientTestCase.php
