name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: Integration tests - PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.3']
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Setup integration environment
        run: composer integration-setup

      - name: Run integration tests
        run: |
          docker compose -f ./tests/build/docker-compose.yml exec -T worker-service chown www-data /app/source
          composer test
